/* Reset styles
=====================================================================================*/
* {
    margin: 0;
    padding: 0;
}

/* BASE
=====================================================================================*/
.wrapper {
    width: 1400px;
    /* height: 250px; */
    margin: 0 auto;
    font: 400 14px 'Open Sans', sans-serif;
    /* background: #3a55c2; */
}

.container {
    width: 78%;
    margin: 0 auto;
}

/* Header
=====================================================================================*/
.header {
    padding-top: 100px;
    text-align: center;
    /* background: #d7e23b; */
}

.title {
    margin-bottom: 30px;
    font: 400 36px 'Raleway', sans-serif;
    color: #212121;
    text-transform: uppercase;
}

.line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: #E72424;
    border: none;
}

.subtitle {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    font: 400 14px 'Open Sans', sans-serif;
    color: #86878B;
}

/* Main
=====================================================================================*/
.main {
    padding-top: 30px;
    /* background: yellowgreen; */
}

.card {
    display: inline-block;
    width: 350px;
    min-height: 225px;
    padding-bottom: 60px;
    margin: 0 5px 0 5px;
    vertical-align: top;
    /* background: #6ddf72; */
}

.card-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
    border-radius: 50%;
    border: 1px solid #E72424;
}

.lamp {
    background: url(/assets/lamp.png) no-repeat center;
}

.keyboard {
    background: url(/assets/keyboard.png) no-repeat center;
}

.flash {
    background: url(/assets/flash.png) no-repeat center;
}

.card-title {
    margin-bottom: 16px;
    text-align: center;
    font: 700 20px 'Open Sans', sans-serif;
    color: #333333;
}

.card-text {
    text-align: center;
}

.download {
    padding-top: 75px;
    background: url(/assets/town-bottom.jpg) rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
}

.download-title {
    margin-bottom: 50px;
    text-align: center;
    font: 400 36px 'Raleway', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
}

.download-line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: #FFFFFF;
    border: none;
}

.download-text {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font: 300 16px 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.download-form {
    text-align: center;
}

.download-button {
    width: 135px;
    height: 42px;
    margin-bottom: 30px;
    font: 600 15px 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

/* Footer
=====================================================================================*/
.footer {
    padding-top: 30px;
    background-color: #000000;    
}

.footer-socnet {
    display: block;
    margin: 0 auto 15px;
}

.copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    font: 400 12px 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}